.claimant-dashboard-box .header{
    height: 120px;
}
.claimant-dash-body {
    margin: 0px 30px;
    margin-top: -33px;
    min-height: 100vh;
}
.claimant-dash-box{
    padding: 15px 20px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: var(--box-shadow);
}

.claimant-dashboard-box {
    background-color: #fff;
    box-shadow: var(--box-shadow);
}

