.claimants-box .claimant-card {
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.claimant-mahallu {
    background-color: #349c8e1f;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 50px;
    color: #309A84;
    
}

.modal-body .amount-input:focus-visible {
    border-color: var(--primary-color) !important;
}