.application-status-box .header{
    height: 150px;
}

.application-status-body{
    /* padding: 15px 20px; */
    margin: 0px 30px;
    margin-top: -35px;
    /* background-color: #fff; */
    border-radius: 30px;
    /* box-shadow: var(--box-shadow); */
}

.application-card {
    min-width: 300px;
    background: var(--white);
    color: #000;
    font-size: 15px;
    font-weight: 500;
    border-radius: 30px;
    padding: 1.5rem;
    box-shadow: 0 8px 24px rgba(44, 62, 80, 0.1);
    align-items: center;
    margin-top: 0px;
}
.application-card .status .icon{
    width: max-content ;
    border-radius: 50%;
    margin-top: 2px;
}
.application-card .status{
    gap:5px
}
.application-card .btn-retry{
    background-color: var(--primary-color);
    color: var(--white);
}